#appointments_pagination .pagination{
  margin : 0px !important;
}

span#appoint-generate-List a {
  color :white;
}
#sing{
	position: absolute;
  height: 33px;
left: 97px;
top: -2px;
z-index: 99;
}
